@model IEnumerable<JinxiaocunApp.Models.Tender_ModelCustomer2>

@{
    ViewBag.Title = "";
    int colC = 1;
}

<table>
    <tr>
        <th>序号</th>
        <th colspan="2">
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th colspan="2">
            @Html.DisplayNameFor(model => model.PriceLost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceUnit)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.LinkMan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkType)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @colC
        </td>
        <td colspan="2">
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td colspan="2">
            @Html.DisplayFor(modelItem => item.PriceLost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceUnit)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.LinkMan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkType)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.bemp_Gonggao.BGid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MID })
        </td>*@
    </tr>
    colC++;
}
    <tr>
        <td colspan="3">
            @if(ViewBag.IsSmall)
            {
                <span>最低价</span>
            }
            else
            {
                <span>最高价</span>
            }
            
        </td>
        <td colspan="2">
            <strong style="color:red;">
                @ViewBag.PriceD
            </strong>
                
</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
