@model JinxiaocunApp.Models.BStore

@{
    ViewBag.Title = "Create";
}


@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "formDiv", HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnSuccess = "onReload('/bstore/index')"}))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BStore</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberStore)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberStore)
            @Html.ValidationMessageFor(model => model.NumberStore)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FullNameStore)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullNameStore)
            @Html.ValidationMessageFor(model => model.FullNameStore)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SmallNameStore)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SmallNameStore)
            @Html.ValidationMessageFor(model => model.SmallNameStore)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PinyinStore)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PinyinStore)
            @Html.ValidationMessageFor(model => model.PinyinStore)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RemarkStore)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RemarkStore)
            @Html.ValidationMessageFor(model => model.RemarkStore)
        </div>

        <p>
            <input type="submit" value="创建" />
        </p>
    </fieldset>
}

<script>
    $.getScript("/Scripts/jquery.validate.unobtrusive.js");
    $(function () {
        PinyinAutoGen("FullNameStore", "SmallNameStore");
        PinyinAutoGen("FullNameStore", "PinyinStore");
    });
</script>
