@model JinxiaocunApp.Models.RegisterModel

@if (1 == 2)
{
    <script type="text/javascript" src="../../Scripts/jquery-2.0.3-vsdoc.js"></script>
}
@{
    ViewBag.Title = "注册";
}

<div class="panel panel-info">
    <div class="panel-headings">
        <span>
            <img src="~/Images/news/ak15.jpg"></img>
        </span>
        <span>
            <strong>用户注册</strong>
        </span>
    </div>
    <div class="panel-body">


        @*@using (Ajax.BeginForm("Register","Account",new AjaxOptions { UpdateTargetId = "formDiv", HttpMethod = "Post", InsertionMode = InsertionMode.Replace }))
            {*@
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>用户注册</legend>
                <table class="table-striped table-hover table-bordered" width="100%" style="line-height:26px">
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.NumberEmp)
                            </div>
                        </td>
                        <td colspan="3">
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.bemplyee.NumberEmp, new { @class = "form-control" })
                                @*@Html.EditorFor(model => model.bemplyee.NumberEmp)*@
                                @Html.ValidationMessageFor(model => model.bemplyee.NumberEmp)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.LinkMan)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.bemplyee.LinkMan)
                                @Html.ValidationMessageFor(model => model.bemplyee.LinkMan)
                            </div>
                        </td>
                    </tr>

                    <tr>

                        <td width="100PX">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.LinkType)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.bemplyee.LinkType)
                                @Html.ValidationMessageFor(model => model.bemplyee.LinkType)
                            </div>
                        </td>
                        <td width="100PX">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.RegisterMoney)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.bemplyee.RegisterMoney)
                                @Html.ValidationMessageFor(model => model.bemplyee.RegisterMoney)
                            </div>
                        </td>
                        <td width="130PX">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.PassYearCheck)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @*@Html.EditorFor(model => model.bemplyee.PassYearCheck)*@
                                @Html.DropDownListFor(model => model.bemplyee.PassYearCheck, new[] { new SelectListItem() { Text = "是", Value = "true" }, new SelectListItem() { Text = "否", Value = "false" } })
                                @Html.ValidationMessageFor(model => model.bemplyee.PassYearCheck)
                            </div>
                        </td>
                    </tr>



                    <tr>

                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.CompanyType)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.DropDownListFor(model => model.bemplyee.CompanyType, (SelectList)ViewBag.CompanyType)
                                @*@Html.EditorFor(model => model.bemplyee.CompanyType)*@
                                @Html.ValidationMessageFor(model => model.bemplyee.CompanyType)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Password)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Password)
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.ConfirmPassword)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.ConfirmPassword)
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.DelegateBook)
                            </div>
                        </td>
                        <td colspan="2">
                            <input type="file" name="fDelegateBook" id="fDelegateBook" onchange="ffDelegateBook()" />
                        </td>
                        <td colspan="2">
                            <div class="editor-field">


                                @Html.ValidationMessageFor(model => model.bemplyee.DelegateBook)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.LicenceAtt)
                            </div>
                        </td>
                        <td colspan="2">
                            <input type="file" name="fLicenceAtt" id="fLicenceAtt" onchange="ffLicenceAtt()" />
                        </td>
                        <td colspan="2">
                            <div class="editor-field">


                                @Html.ValidationMessageFor(model => model.bemplyee.LicenceAtt)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.CodeAtt)
                            </div>
                        </td>
                        <td colspan="2">
                            <input type="file" name="fCodeAtt" id="fCodeAtt" onchange="ffCodeAtt()" />
                        </td>
                        <td colspan="2">
                            <div class="editor-field">


                                @Html.ValidationMessageFor(model => model.bemplyee.CodeAtt)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.TaxAtt)
                            </div>
                        </td>
                        <td colspan="2">
                            <input type="file" name="fTaxAtt" id="fTaxAtt" onchange="ffTaxAtt()" />
                        </td>
                        <td colspan="2">
                            <div class="editor-field">


                                @Html.ValidationMessageFor(model => model.bemplyee.TaxAtt)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.CertAtt)
                            </div>
                        </td>

                        <td colspan="2">
                            <input type="file" name="fCertAtt" id="fCertAtt" onchange="ffCertAtt()" />
                        </td>
                        <td colspan="2">
                            <div class="editor-field">


                                @Html.ValidationMessageFor(model => model.bemplyee.CertAtt)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.PromiseAtt)
                            </div>
                        </td>

                        <td colspan="2">
                            <input type="file" name="fPromiseAtt" id="fPromiseAtt" onchange="ffPromiseAtt()" />
                        </td>
                        <td colspan="2">
                            <div class="editor-field">
                                @Html.ValidationMessageFor(model => model.bemplyee.PromiseAtt)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.SecretAtt)
                            </div>
                        </td>

                        <td colspan="2">
                            <input type="file" name="fSecretAtt" id="fSecretAtt" onchange="ffSecretAtt()" />
                        </td>
                        <td colspan="2">
                            <div class="editor-field">
                                @Html.ValidationMessageFor(model => model.bemplyee.SecretAtt)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.PeopleAtt)
                            </div>
                        </td>

                        <td colspan="2">
                            <input type="file" name="fPeopleAtt" id="fPeopleAtt" onchange="ffPeopleAtt()" />
                        </td>
                        <td colspan="2">
                            <div class="editor-field">
                                @Html.ValidationMessageFor(model => model.bemplyee.PeopleAtt)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.OpenAccountAtt)
                            </div>
                        </td>

                        <td colspan="2">
                            <input type="file" name="fOpenAccountAtt" id="fOpenAccountAtt" onchange="ffOpenAccountAtt()" />
                        </td>
                        <td colspan="2">
                            <div class="editor-field">
                                @Html.ValidationMessageFor(model => model.bemplyee.OpenAccountAtt)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.projectAtt)
                            </div>
                        </td>

                        <td colspan="2">
                            <input type="file" name="fprojectAtt" id="fprojectAtt" onchange="ffprojectAtt()" />
                        </td>
                        <td colspan="2">
                            <div class="editor-field">
                                @Html.ValidationMessageFor(model => model.bemplyee.projectAtt)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.DescsData)
                            </div>
                        </td>


                        <td colspan="4">
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.bemplyee.DescsData, new { style = "width:100%;" })
                                @Html.ValidationMessageFor(model => model.bemplyee.DescsData)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.bemplyee.ItRemark)
                            </div>
                        </td>
                        <td colspan="4">
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.bemplyee.ItRemark, new { style = "width:100%;" })
                                @Html.ValidationMessageFor(model => model.bemplyee.ItRemark)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>备注</label>
                        </td>
                        <td colspan="5">
                            <pre style="border:0px;">
1、供应商投标资质申请时，需要将资料填写完整；
2、供应商提报相关资料后，经过我司资质评定，确定入围后才能将招标资料下载（如技术文件图纸等）及参与该项目竞标。
3、如需上传多个文件，请自行打包成RAR格式上传。
4、<span class="text-danger">请供应商到招标公告下载招标<strong style="color:red">承诺书及保密协议</strong> ，签署盖章后将其上传至此。</span> 
                    </pre>
                        </td>
                    </tr>
                </table>



                @*<div class="editor-label">
                        @Html.LabelFor(model => model.bemplyee.RegisterDate)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.bemplyee.RegisterDate)
                        @Html.ValidationMessageFor(model => model.bemplyee.RegisterDate)
                    </div>*@



                <p>
                    <input type="submit" value="注册" class="btn btn-primary" />
                </p>
                <div style="float:left; overflow:hidden; width:200px; height:1px;">
                    <div style="margin-left:9999px">
                        @Html.TextBoxFor(model => model.bemplyee.DelegateBook, new { style = "width:1px;", @readonly = "readonly" })
                        @Html.TextBoxFor(model => model.bemplyee.TaxAtt, new { style = "width:1px;", @readonly = "readonly" })
                        @Html.TextBoxFor(model => model.bemplyee.CertAtt, new { style = "width:1px;", @readonly = "readonly" })
                        @Html.TextBoxFor(model => model.bemplyee.CodeAtt, new { style = "width:1px;", @readonly = "readonly" })
                        @Html.TextBoxFor(model => model.bemplyee.LicenceAtt, new { style = "width:1px;", @readonly = "readonly" })
                        @Html.TextBoxFor(model => model.bemplyee.PromiseAtt, new { style = "width:1px;", @readonly = "readonly" })
                        @Html.TextBoxFor(model => model.bemplyee.SecretAtt, new { style = "width:1px;", @readonly = "readonly" })
                        @Html.TextBoxFor(model => model.bemplyee.PeopleAtt, new { style = "width:1px;", @readonly = "readonly" })

                        @Html.TextBoxFor(model => model.bemplyee.OpenAccountAtt, new { style = "width:1px;", @readonly = "readonly" })
                        @Html.TextBoxFor(model => model.bemplyee.projectAtt, new { style = "width:1px;", @readonly = "readonly" })
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
<script>
    $.getScript("/Scripts/jquery.validate.unobtrusive.js");
    //$(function () {
    //    PinyinAutoGen("bemplyee_FullNameEmp", "bemplyee_SmallNameEmp");
    //    PinyinAutoGen("bemplyee_FullNameEmp", "bemplyee_PinyinEmp");

    //});
    //function functt()
    //{

    //    //alert(document.getElementById("fCodeAtt").value);
    //    //if (document.getElementById("fCodeAtt").value.length > 0)
    //    $("#bemplyee_CodeAtt").val(document.getElementById("fCodeAtt").value);
    //}

    function ffOpenAccountAtt() {
        $("#bemplyee_OpenAccountAtt").val(document.getElementById("fOpenAccountAtt").value);
    }

    function ffprojectAtt() {
        $("#bemplyee_projectAtt").val(document.getElementById("fprojectAtt").value);
    }

    function ffSecretAtt() {
        $("#bemplyee_SecretAtt").val(document.getElementById("fSecretAtt").value);
    }

    function ffPeopleAtt() {
        $("#bemplyee_PeopleAtt").val(document.getElementById("fPeopleAtt").value);
    }

    function ffPromiseAtt() {
        $("#bemplyee_PromiseAtt").val(document.getElementById("fPromiseAtt").value);
    }

    function ffTaxAtt() {
        $("#bemplyee_TaxAtt").val(document.getElementById("fTaxAtt").value);
    }
    function ffCertAtt() {
        $("#bemplyee_CertAtt").val(document.getElementById("fCertAtt").value);
    }
    function ffCodeAtt() {
        $("#bemplyee_CodeAtt").val(document.getElementById("fCodeAtt").value);
    }
    function ffDelegateBook() {
        $("#bemplyee_DelegateBook").val(document.getElementById("fDelegateBook").value);
    }
    function ffLicenceAtt() {
        $("#bemplyee_LicenceAtt").val(document.getElementById("fLicenceAtt").value);
    }
</script>