@model JinxiaocunApp.Models.ResetPwdModel

<h3>重置密码</h3>
@using (Ajax.BeginForm( new AjaxOptions { UpdateTargetId = "formDiv1", HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnSuccess = "showDIV('formDiv1','重置密码',400,200)" }))
{
    @*@using (Html.BeginForm())
        {*@
    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>“重置密码”表单</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="重置密码" />
    </fieldset>
}
<script>
    $.getScript("/Scripts/jquery.validate.unobtrusive.js");
</script>
