@model JinxiaocunApp.Models.BProduct

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BProduct</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParentID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumberProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullNameProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullNameProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SmallNameProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SmallNameProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PinyinProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PinyinProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddressProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GuigeProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GuigeProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.XinghaoProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.XinghaoProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WeightProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeightProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsOrderProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsOrderProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumberManagerProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberManagerProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SupplyInfoProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SupplyInfoProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RemarkProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RemarkProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnitNameProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitNameProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnitRelatinProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitRelatinProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BarcodeProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BarcodeProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SellerNumberProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SellerNumberProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RetailPriceProdu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RetailPriceProdu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice1Produ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice1Produ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice2Produ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice2Produ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice3Produ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice3Produ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice4Produ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice4Produ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice5Produ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice5Produ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnitNameProdu1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitNameProdu1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnitRelatinProdu1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitRelatinProdu1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BarcodeProdu1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BarcodeProdu1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SellerNumberProdu1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SellerNumberProdu1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RetailPriceProdu1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RetailPriceProdu1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice1Produ1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice1Produ1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice2Produ1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice2Produ1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice3Produ1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice3Produ1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice4Produ1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice4Produ1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice5Produ1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice5Produ1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnitNameProdu2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitNameProdu2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnitRelatinProdu2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitRelatinProdu2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BarcodeProdu2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BarcodeProdu2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SellerNumberProdu2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SellerNumberProdu2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RetailPriceProdu2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RetailPriceProdu2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice1Produ2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice1Produ2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice2Produ2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice2Produ2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice3Produ2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice3Produ2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice4Produ2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice4Produ2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreparePrice5Produ2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreparePrice5Produ2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pic1Produ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pic1Produ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pic2Produ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pic2Produ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pic3Produ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pic3Produ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pic4Produ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pic4Produ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pic5Produ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pic5Produ)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
